.searchContainer{
    width: 90%;
    margin: 2rem 7% 0 auto;
    display: flex;
    justify-content: center;
}

.searchInput {
    border-radius: 10px;
    border: solid 1px gray;
    width: 100%;
    padding: 12px 40px;
}

.searchIcon {
    position: relative;
    left: 35px;
    top: 15px;
}

@media screen and (max-width: 800px) {
    .searchList {
        left: 35px;
        width: 70%;
    }
}