.sortContainer {
    position: relative;
}

.sortButtonContainer {
    position: relative;
}

.sortButton {
    width: 170px;
    padding: 8px 16px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}

.sortTitle {
    margin: 0;
    font-size: 1rem;
}

.arrowIcon {
    cursor: pointer;
}

.sortDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 8px 0;
    max-height: 40vh;
    overflow-y: auto;
}

.sortItem {
    display: flex;
    gap: 12px;
    padding: 8px 16px;
    cursor: pointer;
    align-items: center;
}

.sortItem input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid black;
    border-radius: 50%;
}

.sortItem input[type="radio"]:checked {
    background-color: black;
}

.sortItem:hover {
    background-color: #f0f0f0;
}

@media screen and (min-width: 768px){
    .sort{
        flex-direction: row;
    }
}