.tripDashboardContainer {
    width: 80%;
    min-height: 150px;
    background-color: #F8F1E5;
    border: 1px solid black;
    border-radius: 16px;
    padding: 16px 32px;
    margin: 2.5rem auto;
}

.tripDashboardContainer * {
    margin-top: 6px;
    margin-bottom: 6px;
}

.tripTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tripDashboardTitle {
    font-size: 1.5rem;
}

.tripDashboardContainer hr {
    margin-left: 1rem;
    border: none;
    border-top: 1px solid black;
    width: 80%;
    height: 3px;
}

.tripInfo {
    list-style-type: none;
}

.mainInfo {
    display: flex;
    justify-content: space-between;
}

.tripDashboardDetails{
    text-decoration: underline;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.detailsButton {
    background: none;
    border: none;
    text-decoration: underline;
}

.detailsButton:hover {
    cursor: pointer;
}

@media (max-width: 426px) {
    .tripDashboardContainer {
        margin-left: 14px;
        margin-right: 14px;
        padding: 14px 14px;
    }
}
