.sortList {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    margin: 8rem 4rem;
    gap: 60px;
}

.sortDropdownContainer {
    position: relative;
}

.sortDropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 900px) {
    .sortList {
        grid-template-columns: 1fr;
        margin: 0;
    }
}