.admin-recap {
    background-color: #F8F1E5;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    height: auto;
}

.admin-recap hr {
    margin-left: 1rem;
    border: none;
    border-top: 1px solid black;
    width: 80%;
    height: 3px;
}

.admin-recap__section {
    padding: 20px;
}

.adminRecap__title {
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1.2rem;
}
.admin-recap__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.admin-recap__label {
    font-weight: bold;
    margin-right: 1rem;
}

.admin-recap__section > .admin-recap__info:first-child {
    margin-bottom: 1rem;
}

.admin-recap__info {
    display: flex;
    justify-content: flex-start;
    width: 70%;
}



.admin-recap__button {
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 426px) {
    .admin-recap {
        width: 80%;
        height: 230px;
    }

    .admin-recap__info {
        justify-content: space-between;
        width: 55%;
    }
}