.personalInfoTitle {
    margin-left: 3rem;
    font-size: 1.8rem;
    margin-top: 2rem;
}

.sectionPersonalInformation {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin: 2rem;
}


.personalInfoInputs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 80%;
    gap: 1rem;
}

.personalInfoInputs {
    margin: 12px 1rem;
}


@media screen and (max-width: 1024px) {

    .personalInfoTitle {
        margin: 1rem 1rem;
        text-align: center;
    }

    .sectionPersonalInformation {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: 1rem auto;
    }

}

@media screen and (min-width: 1440px) {
    .sectionPersonalInformation {
        flex-direction: row;
        max-width: 95%;
        align-items: center;
    }

    .personalInfoInputs {
        gap: 12px;
    }
}
